<section class="rounded-md hover:text-white px-8 py-8">
  <div class="border px-4 pt-4">
    <div class="justify-between flex">
      <h3 class="text-2xl">Post #<%= @post.id%> by <%=@post.author.name %></h3>
      <%= render 'common/likes', post:@post%>
    </div>
    <br>
    <%= form_with url: "/users/#{@post.author.id}/posts/#{@post.id}/likes" do |form|%>
      <%= form.submit "like", class: "bg-slate-600 text-white rounded shadow px-2 block ml-auto text-lg cursor-pointer"%>
    <% end %>
    <p class="pb-6 mt-5"><%= @post.text %></p>
  </div>
  <div class="border mt-6">
    <%= render 'common/comments', comments: @post.comments %>
  </div>
  <%= link_to "Add comment", "/users/#{@post.author.id}/posts/#{@post.id}/comments/new", class: "px-3 py-1 bg-slate-600 rounded text-white mt-8 mb-2 w-1/5 block ml-auto"%>
</section>