<div class="gap-4 rounded-md">
  <h3 class="font-bold">Post #<%= post.id%></h3>
  <br>
  <div>
    <h4><%= post.title%></h4>
    <br>
    <p><%= post.text %></p>
    <div class="text-like text-right pr-2 pl-40 rounded-md">
      <span>Comments: <%= post.commentscounter%>,</span>
      <span>Likes: <%= post.likescounter%></span>
    </div>
  </div>
</div>
 